@use '../../variables' as *;

@mixin main-menu {
	.ilovepdf-settings__main__menu {
		.ilovepdf-settings__main__menu-item {
			margin-bottom: 8px;
			padding: 5px;

			a {
				display: flex;
				align-items: center;
				gap: 10px;

				&:hover {
					color: $dark;
				}
			}

			&:hover {
				border-radius: $radius;
				background-color: $light_color;
			}

			&.ilovepdf-settings__main__menu-item-active {
				border-radius: $radius;
				background-color: $white;
			}
		}

		@media (min-width: 1280px) {
			width: 10%;
		}
	}
}
