// Typography
$font_family: 'Roboto', sans-serif;
$body_font_size: 13px;
$letter_spacing: 0.45px;

// Colors
$white: #ffffff;
$dark: #000000;

$primary_color: #e5322d;
$primary_color_700: #bd060a;
$primary_color_300: #fde4df;

$secondary_color: #383e45;
$secondary_color_500: #707078;
$secondary_color_300: #969696;

$success_color: #6fe21c;
$danger_color: #a00a00;
$warning_color: #fff3d6;

$light_color: #f9f8f6;
$light_color_300: #f3f4f5;
$light_color_500: #e1e1e1;
$light_color_600: #cccccc;

// Grid - Layout
$width_small: 700px;
$width_medium: 1024px;

// Base
$box_shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
$radius: 5px;
