@use '../variables' as *;
@use '../utilities/animations' as *;
@use '../components/buttons' as *;

@mixin popup-dialog {
	border: none;
	border-radius: 20px;
	padding: 40px;
	animation: fade-out 0.2s ease-out;

	.ilovepdf-title-dialog {
		text-align: center;
		font-size: 2.8em;
		color: $primary_color;
	}

	.ilovepdf-content-dialog {
		font-size: 18px;
		font-weight: 500;
		color: $secondary_color;
	}

	.ilovepdf-btn-groups {
		margin-top: 30px;
		display: flex;
		justify-content: center;
		gap: 30px;

		.button-primary {
			@extend %button-primary;
		}
	}

	&::backdrop {
		background-color: rgba(56, 56, 56, 0.75);
	}

	&[open] {
		animation: openDialog 300ms ease-in-out 0s 1 normal forwards;
	}
}
