/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/***********
* SETTINGS *
************/

.white-panel {
	background-color: white;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 35%;
	height: 230px;
	float: left;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-spacing: 1px;
}

.white-inside {
	padding-right: 25px;
	border-right: 1px solid #e5e5e5;
	font-weight: bold;
	height: 100%;
}

.white-panel p,input {
	font-weight: normal;
}

.white-panel input {
	width: 100%;
	padding: 5px;
	margin-bottom: 25px;
}

.white-panel input.button-primary {
	width: 100%
}

.white-inside-second {
	margin-right: 20px;
	font-weight: bold;
	position: absolute;
	bottom: 0;
	margin-bottom: 25px;
	width: 90%;
}

.white-panel p.submit {
	margin: 0px;
	padding: 0px;
}

.setting-first {
	border-left: 1px solid #e5e5e5;
	border-spacing: 1px;
	position: relative;
}

.setting-second {
	border-right: 1px solid #e5e5e5;
	border-spacing: 1px;
	position: relative;
}

.tab-ilovepdf {
	border-top: #f00 solid 4px;
}

.plugin-logo-full {
	margin-left: 15px;
}

.second-full {
	margin-top: 20px;
}

.wrap-profile {
	margin-left: 15px;
}

/*
CUSTOM TABS WATERMARK
*/




/********
* MEDIA *
*********/

.full-white-panel {
	background-color: white;
	padding: 10px;
	float: left;
	width: 100%;
	border: 1px solid #e5e5e5;
	border-spacing: 1px;
}

.inside-full-white-panel {
	width: 100%;
	float: left;
	padding: 10px;
	margin-right: 120px;
}

.width-50 {
	width: 50% !important;
}

.width-70 {
	width: 70% !important;
	padding-left: 20px !important;
}

.image-stats {
	width: 48%;
	float: left;
	border: 1px solid #e5e5e5;
	border-spacing: 1px;
	margin-right: 15px;
}

.image-stats div {
	float: left;
	width: 22%;
	margin-bottom: 15px;
	text-align: center;
}

.image-stats h3 {
	color: gray;
	opacity: 0.5;
}

.image-stats span {
	font-size: 20px;
	font-weight: bold;
}

.image-stats-panel {
	margin: 10px !important;
	padding-right: 10px;
	border-right: 1px solid #e5e5e5;
	height: 100px;
}

.image-stats-panel-no {
	margin-top: 10px !important;
	height: 100px;
}

.info-full-white-panel {
	float: left;
	clear: left;

}

.total-full-white-panel {
	float: left;
	width: 100%;
	text-align: center;
}

.total-full-white-panel .button-primary{
	padding: 10px;
	height: auto !important;
	margin-bottom: 15px;
}

.dual-statistics-panel {
	float: left;
	width: 50%;
	text-align: center;
}

.panel-right-align {
	float: left;
	width: 50%;
	text-align: right;
}

.panel-right-align span {
	float: right;
	clear: both;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 1.4em;
}

.panel-left-align {
	float: left;
	width: 50%;
	text-align: left;
}

.panel-left-align span {
	float: left;
	clear: both;
	color: #bbb;
	font-size: 14px;
	margin-top: 10px;
}

.totals-panel {
	width: 40% !important;
	padding-top: 50px;
}

.dual-statistics-panel #optimization-chart {
	width: 100% !important;
}

.optimization-pdf {
	margin-top: 10px;
	margin-left: 3px;
	width: 100% !important;
	float: left;
}

.btn-compress {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.check-column {
	padding-bottom: 5px !important;
}

.stats-watermark {
	padding-top: 25px !important;
}

/**********************
*** COMRPESS BUTTON ***
***********************/

.media-ilovepdf{
	float: left;
	margin-right: 10px !important;
}

.media-ilovepdf-box{
	margin-right: 8px !important;
	margin-top: 10px;
	margin-bottom: 10px !important;
}

.link-restore{
	float: left;
	clear: left;
}

.link-restore-box{
	clear: left;
}

/********
* CHART *
*********/

#optimization-chart {
	float: left;
	position: relative;
	width: 50%;
	text-align: center;
}

.ie8 #optimization-chart {
	margin: 0;
}

#optimization-chart svg circle.main {
	fill: #ebebeb;
	animation: shwoosh 2s ease;
	transition: stroke-dasharray 1s ease;
}

#optimization-chart svg circle.inner {
	fill: #fff;
}

#optimization-chart div.value {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#optimization-chart div.value div.percentage {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
	font-size: 2.1em;
	line-height: 1em;
}

#optimization-chart div.value div.label {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.4em;
	line-height: 1.2em;
}

@media only screen and (max-width: 400px) {
	#optimization-chart {
		float: none;
		width: 100%;
	}
}
